/** Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600;700&display=swap");

:root {
	--background-dark: #222229;
	--background-white: #f5f5f5;

	--primary-colour: #db9926;
	--secondary-orange: #dab77a;

	--dark-theme-secondary-card-colour: #262630;
	--light-theme-secondary-card-colour: #5d5d76;

	--dark-theme-primary-font-colour: #ffffff;
	--dark-theme-secondary-font-colour: #a0a0a0;

	--light-theme-primary-font-colour: #000000;
	--light-theme-secondary-font-colour: #4a4a4a;
}

img:hover {
	-webkit-transform: scale(1.01);
	-ms-transform: scale(1.01);
	transform: scale(1.01);
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 80px;
	font-family: poppins, serif;
}

#footer-copyright {
	text-align: center;
	margin-block: 2rem;
	color: var(--light-theme-secondary-font-colour);
}

span {
	color: var(--secondary-orange);
	font-family: roboto mono;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

@media only screen and (max-width: 600px) {
	body {
		background-color: var(--background-dark);

		color: white;
		margin: 0;
		padding: 0;

		section {
			margin: 10rem 1.5rem;
		}

		button {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-ms-flex-pack: distribute;
			justify-content: space-around;
			background-color: var(--primary-colour);
			border: none;
			outline: none;
			color: white;
			border-radius: 0.3em;
			font-size: 3.2vw;
			padding: 0.9em 1.8em;
			font-weight: bold;
			margin: auto;
		}

		.section-title {
			font-size: 5vw;
			font-weight: bold;
			margin-bottom: 2rem;
			text-align: center;
		}

		p {
			font-size: 3vw;
			margin-block: 1rem;
		}

		#PDF {
			width: 99%;
			height: 100vh;
		}

		#skills {
			.skill-grid {
				display: -ms-grid;
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
				gap: 19px;
				width: 100%;

				.skill-square {
					background-color: var(--dark-theme-secondary-card-colour);
					-webkit-box-shadow: rgba(11, 10, 13, 0.518) 0px 8px 12px 0px;
					box-shadow: rgba(12, 11, 15, 0.119) 0px 8px 12px 0px;
					max-width: 170px;
					min-width: 130px;
					max-height: 170px;
					min-height: 130px;
					padding: 1rem;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					-ms-flex-direction: column;
					flex-direction: column;
					text-align: center;
					-ms-grid-row-align: center;
					-ms-grid-column-align: center;
					place-self: center;

					img {
						max-width: 65%;
						min-width: 40%;
						max-height: 65%;
						min-height: 40%;
						margin: auto;
					}
				}

				.skill-square:hover {
					-webkit-box-shadow: rgba(106, 102, 134, 0.518) 0px 1px 60px 0px;
					box-shadow: rgba(106, 102, 134, 0.518) 0px 1px 30px 0px;
					-webkit-transform: scale(1.05);
					-ms-transform: scale(1.05);
					transform: scale(1.05);
					-webkit-transition: 0.2s ease;
					-o-transition: 0.2s ease;
					transition: 0.2s ease;
				}
			}
		}

		header {
			position: sticky;
			top: 0;
			padding: 1rem;
			z-index: 999;
			background-color: var(--background-dark);
			height: 5.5vh;

			#mobile-cta {
				font-size: 9vw;
				float: right;
			}

			#desktop-nav[data-visible="true"] {
				display: block;
				transform: translateX(0%);
				transition: 0.2s ease-out;
			}

			#desktop-nav {
				position: fixed;
				right: 0;
				top: 0;
				width: 100%;
				-webkit-transform: translateX(110%);
				-ms-transform: translateX(110%);
				transform: translateX(110%);
				-webkit-transition: 0.2s ease;
				-o-transition: 0.2s ease;
				transition: 0.2s ease;
				height: 100vh;

				#nav-left {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-pack: justify;
					-ms-flex-pack: justify;
					justify-content: space-between;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					font-size: 8vw;
					background-color: var(--dark-theme-secondary-card-colour);
					padding-inline: 2rem;
					height: 16vh;

					img {
						width: 10%;
					}

					#nav-name {
						display: none;
					}
				}
				#nav-right {
					text-align: center;
					margin-block: 0rem 0rem;
					background-color: var(--background-dark);
					height: 65%;

					ul {
						padding: 0;
						margin: 0;
						a {
							display: block;

							color: white;
							padding-block: 1.5rem;
						}
					}

					button {
						margin-bottom: 3rem;
					}

					#toggle-dark {
						font-size: 5vw;
					}
				}
				#nav-mobile-bottom {
					background-color: var(--dark-theme-secondary-card-colour);
					position: absolute;
					padding: 2rem;
					width: 100%;
					height: 12vh;

					.logo-links {
						i {
							margin-right: 1rem;
							margin-bottom: 1rem;
							font-size: 5vw;
						}

						a {
							color: white;
						}
					}
				}
			}
		}

		.desktop-hero {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: reverse;
			-ms-flex-direction: column-reverse;
			flex-direction: column-reverse;
			width: 100%;

			.left-hero-social-links {
				margin: auto;
				margin-top: 2rem;

				img {
					display: none;
				}
				i {
					font-size: 6vw;
					margin-inline: 1rem;
				}
				a {
					color: white;
				}
			}
			.mobile-hero {
				.right-hero-email {
					display: none;
				}

				.central-hero {
					text-align: center;
					margin: 5rem auto 0 auto;

					#upper-title {
						margin-bottom: 2rem;
					}

					#main-title {
						font-size: 7vw;
						font-weight: bold;
						margin-inline: 2rem;
						margin-bottom: 2rem;
					}

					#lower-subtitle {
						margin-inline: 4rem;
						margin-bottom: 2rem;
						font-size: 2.8vw;
					}
				}
			}
		}

		#about {
			button {
				margin-top: 3rem;
			}
			img {
				display: none;
			}
		}

		#projects {
			#nft-blue,
			#nft-yellow {
				display: none;
			}
			.project-flex-box {
				background-color: #2a2a33;
				border-radius: 10px;
				box-shadow: rgba(12, 11, 15, 0.206) 0px 10px 12px 0px;
				display: -ms-flexbox;
				display: flex;
				gap: 50px;
				-webkit-box-orient: vertical;
				-webkit-box-direction: reverse;
				-ms-flex-direction: column-reverse;
				flex-direction: column-reverse;
				padding: 2rem;
				margin-bottom: 4rem;
				position: relative;
				text-align: center;

				.project-links-mobile {
					color: white;
					font-size: 5vw;
				}
				#nft-link {
					margin-right: 2rem;
				}
				.project-links-desktop {
					display: none;
				}

				.left-project {
					.nft-flex-box {
						width: 100%;
						text-align: center;
						#nft-mobile {
							width: 250px;
							height: 350px;
							-o-object-fit: cover;
							object-fit: cover;
							border-radius: 5px;
							margin: auto;
							margin-bottom: 2rem;
						}
					}
					#tenet-mobile {
						width: 80%;
						margin-bottom: 2rem;
						-webkit-box-shadow: #18181d 0 5px 15px;
						box-shadow: rgba(12, 11, 15, 0.119) 0px 8px 12px 0px;

						float: right;
					}
				}

				.right-project {
					text-align: left;
					.project-title {
						font-size: 5vw;
						font-weight: bold;
					}

					.project-tech-links {
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-align: center;
						-ms-flex-align: center;
						align-items: center;
						-webkit-box-pack: justify;
						-ms-flex-pack: justify;
						justify-content: space-between;

						.project-tec {
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							gap: 10px;

							.tech-name {
								color: white;
								font-size: 3vw;
							}
						}
					}
				}
			}

			#tenet-card {
				padding: 0;

				.right-project {
					margin: 2rem;
				}
			}
		}

		#testimonials {
			background-color: var(--dark-theme-secondary-card-colour);
			margin: 0;
			padding: 2rem;
			box-shadow: rgba(12, 11, 15, 0.119) 0px 8px 12px 0px;

			.test-flex-box {
				.test-left {
					.section-title {
						font-size: 4vw;
						font-weight: bold;
						margin-bottom: 1rem;
					}

					.listen-to {
						font-size: 2.6vw;
						margin-bottom: 2rem;
					}
				}

				#test-right {
					background-color: #3f3f50;

					padding: 1rem;

					.card-body {
						font-size: 2.5vw;
						margin-bottom: 1rem;
					}
				}
			}
		}
		#contact {
			text-align: center;
			margin-bottom: 8rem;
			.section-title {
				font-size: 2.6vw;
				color: var(--primary-colour);
			}

			.section-subtitle {
				font-size: 6vw;
				font-weight: bold;
			}

			.section-body {
				margin-inline: 1rem;
			}

			#btn-email {
				font-size: 3vw;
				margin-top: 3rem;
			}
		}
	}
}

@media only screen and (min-width: 601px) and (max-width: 1100px) {
	body {
		background-color: var(--background-dark);
		color: white;

		section {
			margin: 10rem 5rem;
		}

		button {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-ms-flex-pack: distribute;
			justify-content: space-around;
			background-color: var(--primary-colour);
			border: none;
			outline: none;
			color: white;
			border-radius: 0.3em;
			font-size: 1.5vw;
			cursor: pointer;
			padding: 0.9em 1.8em;
			margin: auto;
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
			-webkit-transition: 0.3s ease;
			-o-transition: 0.3s ease;
			transition: 0.3s ease;
			font-weight: bold;
		}

		.section-title {
			font-size: 2.5vw;
			margin-bottom: 1.5rem;
		}

		p {
			font-size: 1.5vw;
			margin-block: 1rem;
		}

		#PDF {
			width: 99%;
			height: 100vh;
		}

		#skills {
			.skill-grid {
				display: -ms-grid;
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(180px, 2fr));
				gap: 20px;
				width: 100%;

				.skill-square {
					background-color: var(--dark-theme-secondary-card-colour);
					-webkit-box-shadow: rgba(12, 11, 15, 0.518) 0px 8px 12px 0px;
					box-shadow: rgba(12, 11, 15, 0.119) 0px 8px 12px 0px;
					max-width: 170px;
					min-width: 130px;
					max-height: 170px;
					min-height: 130px;
					padding: 1rem;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					-ms-flex-direction: column;
					flex-direction: column;
					text-align: center;
					-ms-grid-row-align: center;
					-ms-grid-column-align: center;
					place-self: center;

					img {
						width: 65%;
						height: 55%;
						margin: auto;
					}
				}

				.skill-square:hover {
					-webkit-box-shadow: rgba(106, 102, 134, 0.518) 0px 1px 60px 0px;
					box-shadow: rgba(106, 102, 134, 0.518) 0px 1px 30px 0px;
					-webkit-transform: scale(1.05);
					-ms-transform: scale(1.05);
					transform: scale(1.05);
					-webkit-transition: 0.2s ease;
					-o-transition: 0.2s ease;
					transition: 0.2s ease;
				}
			}
		}

		header {
			background-color: var(--background-dark);
			height: 5vh;
			position: sticky;
			top: 0;
			padding: 2rem;
			z-index: 999;

			#mobile-cta {
				font-size: 5vw;
				float: right;
			}

			#desktop-nav[data-visible="true"] {
				display: block;
				transform: translateX(0%);
				transition: 0.2s ease-out;
			}

			#desktop-nav {
				position: fixed;
				right: 0;
				top: 0;
				width: 100%;

				-webkit-transform: translateX(110%);

				-ms-transform: translateX(110%);

				transform: translateX(110%);
				-webkit-transition: 0.2s ease;
				-o-transition: 0.2s ease;
				transition: 0.2s ease;

				height: 100vh;
				#nav-left {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-pack: justify;
					-ms-flex-pack: justify;
					justify-content: space-between;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					font-size: 8vw;
					background-color: var(--dark-theme-secondary-card-colour);
					padding-inline: 2rem;
					height: 20vh;

					img {
						width: 10%;
					}

					#nav-name {
						display: none;
					}
				}
				#nav-right {
					text-align: center;

					background-color: var(--background-dark);

					ul {
						padding: 0;
						margin: 0;
						a {
							display: block;

							color: white;
							padding-block: 1.3rem;
						}
					}

					button {
						margin-bottom: 2rem;
					}

					#toggle-dark {
						font-size: 3vw;
					}
				}
				#nav-mobile-bottom {
					background-color: var(--dark-theme-secondary-card-colour);
					position: absolute;
					padding: 2rem;
					width: 100%;

					.logo-links {
						i {
							margin-right: 1rem;
							margin-bottom: 1rem;
							font-size: 3vw;
						}

						a {
							color: white;
						}
					}
				}
			}
		}

		.desktop-hero {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: reverse;
			-ms-flex-direction: column-reverse;
			flex-direction: column-reverse;
			width: 100%;

			.left-hero-social-links {
				margin: auto;
				margin-top: 2rem;
				img {
					display: none;
				}

				i {
					font-size: 3vw;
					margin-inline: 1rem;
				}

				a {
					color: white;
				}
			}
			.mobile-hero {
				.right-hero-email {
					display: none;
				}

				.central-hero {
					text-align: center;
					margin: 6rem auto 0 auto;

					#upper-title {
						margin-bottom: 2rem;
					}

					#main-title {
						font-size: 4.5vw;
						font-weight: bold;
						margin-inline: 3rem;
						margin-bottom: 2rem;
					}

					#lower-subtitle {
						margin-inline: 10rem;
						margin-bottom: 2rem;
					}
				}
			}
		}

		#about {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;

			.about-left-section {
				margin-right: 2rem;
			}

			button {
				margin: 0;
				margin-top: 1rem;
			}

			img {
				width: 30%;
				height: 30%;
			}
		}

		#projects {
			.desktop-flex-box {
				.project-flex-box {
					background-color: #2a2a33;
					border-radius: 10px;
					-webkit-box-shadow: rgba(12, 11, 15, 0.518) 0px 8px 12px 0px;
					box-shadow: rgba(12, 11, 15, 0.206) 0px 10px 12px 0px;
					margin-bottom: 3rem;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-orient: vertical;
					-webkit-box-direction: reverse;
					-ms-flex-direction: column-reverse;
					flex-direction: column-reverse;
					margin: 2rem auto;
					width: 90%;

					.project-links-desktop {
						color: white;
						font-size: 3vw;
					}
					#nft-link {
						margin-right: 1rem;
					}

					.project-links-mobile {
						display: none;
					}

					.left-project {
						img:hover {
							-webkit-transform: none;
							-ms-transform: none;
							transform: none;
						}
						.nft-flex-box {
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							gap: 10px;
							-webkit-box-align: baseline;
							-ms-flex-align: baseline;
							align-items: baseline;
							overflow: hidden;
							-webkit-box-pack: center;
							-ms-flex-pack: center;
							justify-content: center;

							#nft-yellow,
							#nft-blue {
								width: 160px;
								height: 200px;
								-o-object-fit: cover;
								object-fit: cover;
								border-radius: 6px;
							}

							#nft-mobile {
								width: 170px;
								height: 280px;
								-o-object-fit: cover;
								object-fit: cover;
								border-radius: 6px;
							}

							button {
								display: none;
							}
						}
					}
					#tenet-mobile {
						width: 80%;
						margin-bottom: 2rem;
						-webkit-box-shadow: #18181d 0 5px 15px;
						box-shadow: rgba(12, 11, 15, 0.119) 0px 8px 12px 0px;
						float: right;
					}

					.right-project {
						padding: 2rem;
						.project-title {
							font-size: 1.8vw;
							font-weight: bold;
						}

						.project-tech-links {
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							-webkit-box-align: center;
							-ms-flex-align: center;
							align-items: center;
							-webkit-box-pack: justify;
							-ms-flex-pack: justify;
							justify-content: space-between;

							.project-tec {
								display: -webkit-box;
								display: -ms-flexbox;
								display: flex;
								gap: 10%;

								.tech-name {
									color: white;
									font-size: 2vw;
								}
							}

							.project-links {
								a {
									color: white;
									font-size: 1.8vw;
								}
							}
						}
					}
				}
			}
		}

		#testimonials {
			background-color: var(--dark-theme-secondary-card-colour);
			margin: 0;
			padding: 5rem 5rem;

			box-shadow: rgba(12, 11, 15, 0.119) 0px 8px 12px 0px;
			.test-flex-box {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;

				#test-right {
					background-color: #3f3f50;
					margin-left: 4rem;
					padding: 1rem;
					width: 100%;
					min-width: 150px;

					.card-body {
						font-size: 1.3vw;
						margin-bottom: 1rem;
					}
				}
			}
		}
		#contact {
			text-align: center;
			margin-bottom: 8rem;
			.section-title {
				font-size: 2vw;
				color: var(--primary-colour);
			}

			.section-subtitle {
				font-size: 4vw;
				font-weight: bold;
			}

			.section-body {
				margin-inline: 6em;
			}

			#btn-email {
				font-size: 1.5vw;
				margin-top: 3rem;
			}
		}
	}
}

@media only screen and (min-width: 1101px) {
	body {
		background-color: var(--background-dark);
		color: white;

		section {
			margin: 20rem 12rem;
		}

		button {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-ms-flex-pack: distribute;
			justify-content: space-around;
			background-color: var(--primary-colour);
			border: none;
			outline: none;
			color: white;
			border-radius: 0.3em;
			font-size: 1vw;
			cursor: pointer;
			padding: 0.8em 1.4em;
			margin: auto;
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
			-webkit-transition: 0.3s ease;
			-o-transition: 0.3s ease;
			transition: 0.3s ease;
			font-weight: bold;
			-webkit-box-shadow: rgba(5, 5, 5, 0.122) 0px 8px 12px;
			box-shadow: rgba(5, 5, 5, 0.122) 0px 8px 12px;
			border: 1px solid transparent;
		}

		button:hover {
			border: var(--primary-colour) 1px solid;
			background-color: transparent;
			-webkit-transition: 0.2s ease;
			-o-transition: 0.2s ease;
			transition: 0.2s ease;
		}

		.section-title {
			font-size: 1.8vw;
			margin-bottom: 1.5rem;
		}

		p {
			font-size: 1.1vw;
			margin-block: 0.8rem;
		}
		i {
			-webkit-transition: 0.1s ease;
			-o-transition: 0.1s ease;
			transition: 0.1s ease;
		}

		i:hover {
			color: var(--primary-colour);
			-webkit-transition: 0.1s ease;
			-o-transition: 0.1s ease;
			transition: 0.1s ease;
		}

		#PDF {
			width: 99%;
			height: 100vh;
		}

		#skills {
			.skill-grid {
				display: -ms-grid;
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
				gap: 20px;
				width: 100%;

				.skill-square {
					background-color: var(--dark-theme-secondary-card-colour);
					-webkit-box-shadow: rgba(12, 11, 15, 0) 0px 8px 12px 0px;
					box-shadow: rgba(12, 11, 15, 0.119) 0px 8px 12px 0px;
					width: 160px;
					height: 160px;
					padding: 1rem;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					-ms-flex-direction: column;
					flex-direction: column;
					text-align: center;
					-ms-grid-row-align: center;
					-ms-grid-column-align: center;
					place-self: center;
					margin-bottom: 50px;
					border-radius: 6px;

					img {
						width: 55%;
						height: 55%;
						margin: auto;
					}
				}
			}
		}

		header {
			padding: 2rem;

			#mobile-cta {
				display: none;
			}

			#desktop-nav {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;

				#nav-left {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					img {
						width: 25%;
						margin-right: 1rem;
					}

					#nav-name {
						font-size: 1vw;
					}
				}

				#nav-right {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					ul {
						a {
							color: rgb(120, 120, 120);
							padding-right: 2rem;

							font-size: 1rem;
							-webkit-transition: 0.2s ease;
							-o-transition: 0.2s ease;
							transition: 0.2s ease;
						}

						a:hover {
							color: white;
							-webkit-transition: 0.1s ease;
							-o-transition: 0.1s ease;
							transition: 0.1s ease;
						}
					}
					#toggle-dark {
						margin-left: 1rem;
						font-size: 2.2vw;
					}
				}
			}
			#mobile-exit,
			#nav-mobile-bottom {
				display: none;
			}
		}

		.desktop-hero {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;

			.left-hero-social-links {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				text-align: center;
				position: fixed;
				bottom: 0;
				width: 5%;

				a {
					margin-bottom: 1rem;
					font-size: 1.4vw;
					color: white;

					a:hover {
						-webkit-transform: scale(1.1);
						-ms-transform: scale(1.1);
						transform: scale(1.1);
						-webkit-transition: 1s ease;
						-o-transition: 1s ease;
						transition: 1s ease;
					}
				}
			}

			.mobile-hero {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				.central-hero {
					text-align: center;

					margin-top: 6rem;

					#upper-title {
						margin-bottom: 2rem;
						color: var(--dark-theme-secondary-font-colour);
					}

					#main-title {
						font-size: 3vw;
						font-weight: bold;
						margin-inline: 6em;
					}

					#lower-subtitle {
						margin: 2rem 16rem 4rem 16rem;
						font-size: 1vw;
						color: var(--dark-theme-secondary-font-colour);
					}
				}
				.right-hero-email {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					-ms-flex-direction: column;
					flex-direction: column;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					text-align: center;
					position: fixed;
					bottom: 0;
					right: 0;
					width: 5%;

					a {
						margin-bottom: 1rem;
						font-size: 1.6vw;
						color: white;

						a:hover {
							-webkit-transform: scale(1.01);
							-ms-transform: scale(1.01);
							transform: scale(1.01);
							-webkit-transition: 1s ease;
							-o-transition: 1s ease;
							transition: 1s ease;
						}
					}
				}
			}
		}

		#about {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;

			.about-left-section {
				margin-right: 2rem;
			}

			button {
				margin: 0;
				margin-top: 1rem;
			}

			img {
				width: 30%;
				-webkit-box-shadow: rgba(12, 11, 15, 0.518) 0px 8px 12px 0px;
				box-shadow: rgba(12, 11, 15, 0.518) 0px 8px 12px 0px;
			}
		}

		#projects {
			.desktop-flex-box {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				gap: 30px;

				.project-flex-box {
					background-color: #2a2a33;
					border-radius: 10px;
					-webkit-box-shadow: rgba(12, 11, 15, 0.518) 0px 8px 12px 0px;
					box-shadow: rgba(12, 11, 15, 0.206) 0px 10px 12px 0px;
					display: -webkit-box;

					display: -ms-flexbox;

					display: flex;
					-webkit-box-orient: vertical;
					-webkit-box-direction: reverse;
					-ms-flex-direction: column-reverse;
					flex-direction: column-reverse;

					width: 50%;

					.project-links-desktop {
						color: white;
						font-size: 2vw;
					}
					#nft-link {
						margin-right: 1rem;
					}

					.project-links-mobile {
						display: none;
					}

					.left-project {
						img:hover {
							-webkit-transform: none;
							-ms-transform: none;
							transform: none;
						}
						.nft-flex-box {
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							gap: 10px;
							-webkit-box-align: baseline;
							-ms-flex-align: baseline;
							align-items: baseline;
							overflow: hidden;
							-webkit-box-pack: center;
							-ms-flex-pack: center;
							justify-content: center;

							#nft-yellow,
							#nft-blue {
								width: 160px;
								height: 200px;
								-o-object-fit: cover;
								object-fit: cover;
								border-radius: 6px;
							}

							#nft-mobile {
								width: 170px;
								height: 280px;
								-o-object-fit: cover;
								object-fit: cover;
								border-radius: 6px;
							}

							button {
								display: none;
							}
						}
					}
					#tenet-mobile {
						width: 80%;
						margin-bottom: 2rem;
						-webkit-box-shadow: #18181d 0 5px 15px;
						box-shadow: rgba(12, 11, 15, 0.119) 0px 8px 12px 0px;
						float: right;
					}

					.right-project {
						padding: 2rem;
						.project-title {
							font-size: 1.8vw;
							font-weight: bold;
						}

						.project-tech-links {
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							-webkit-box-align: center;
							-ms-flex-align: center;
							align-items: center;
							-webkit-box-pack: justify;
							-ms-flex-pack: justify;
							justify-content: space-between;

							.project-tec {
								display: -webkit-box;
								display: -ms-flexbox;
								display: flex;
								gap: 10%;

								.tech-name {
									color: white;
									font-size: 1vw;
								}
							}

							.project-links {
								a {
									color: white;
									font-size: 1.8vw;
								}
							}
						}
					}
				}
			}
		}

		#testimonials {
			background-color: var(--dark-theme-secondary-card-colour);
			margin: 0;
			padding: 5rem 11rem;
			-webkit-box-shadow: rgba(37, 30, 78, 0.15) 0px 48px 100px 0px;
			box-shadow: rgba(12, 11, 15, 0.119) 0px 8px 12px 0px;
			.test-flex-box {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;

				.test-left {
					max-width: 50%;
				}

				#test-right {
					background-color: #3f3f50;
					margin-left: 4rem;
					padding: 1rem;
					width: 90%;
					-webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
					box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

					.card-body {
						font-size: 1vw;
						margin-bottom: 1rem;
					}
				}
			}
		}

		#contact {
			text-align: center;
			margin-bottom: 8rem;
			.section-title {
				font-size: 1.2vw;
				color: var(--primary-colour);
			}

			.section-subtitle {
				font-size: 3.5vw;
				font-weight: bold;
			}

			.section-body {
				margin-inline: 16rem;
			}
			#btn-email {
				font-size: 1.2vw;
				margin-top: 3rem;
			}
		}
	}
}
