@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600;700&display=swap");

:root {
	--background-dark: #222229;
	--background-white: #f5f5f5;

	--primary-colour: #eda01a;

	--dark-theme-secondary-card-colour: #45455a;
	--light-theme-secondary-card-colour: #5d5d76;

	--dark-theme-primary-font-colour: #ffffff;
	--dark-theme-secondary-font-colour: #c6c6c6;

	--light-theme-primary-font-colour: #000000;
	--light-theme-secondary-font-colour: #4a4a4a;
}

img,
svg {
	max-width: 100%;
	display: block;
}

img:hover {
	transform: scale(1.01);
	transition: 0.2s ease;
}

html {
	scroll-behavior: smooth;
}

@media only screen and (max-width: 600px) {
	body {
		background-color: var(--background-dark);
		font-family: poppins;
		color: white;
		margin: 0;
		padding: 0;

		section {
			margin: 10rem 1.1rem;
		}

		button {
			display: flex;
			align-items: center;
			justify-content: space-around;
			background-color: var(--primary-colour);
			border: none;
			outline: none;
			color: white;
			border-radius: 0.3em;
			font-size: 3vw;
			padding: 0.9em 1.8em;
			font-weight: bold;
			margin: auto;
		}

		.section-title {
			font-size: 4vw;
			margin-bottom: 2rem;
		}

		p {
			font-size: 3vw;
			margin-block: 1rem;
		}

		header {
			position: sticky;
			top: 0;
			padding: 1rem;
			z-index: 999;
			background-color: var(--background-dark);
			height: 5.5vh;

			#mobile-cta {
				font-size: 9vw;
				float: right;
			}

			#desktop-nav {
				position: fixed;
				right: 0;
				top: 0;
				width: 100%;
				transform: translateX(110%);
				transition: 0.2s ease;

				height: 100vh;
				#nav-left {
					display: flex;
					justify-content: space-between;
					align-items: center;
					font-size: 8vw;
					background-color: var(--dark-theme-secondary-card-colour);
					padding-inline: 2rem;
					height: 16vh;

					img {
						width: 10%;
					}

					#nav-name {
						display: none;
					}
				}
				#nav-right {
					text-align: center;
					margin-block: 0rem 0rem;
					background-color: var(--background-dark);
					height: 65%;

					ul {
						padding: 0;
						margin: 0;
						a {
							display: block;
							text-decoration: none;
							color: white;
							padding-block: 1.5rem;
						}
					}

					button {
						margin-bottom: 3rem;
					}

					#toggle-dark {
						font-size: 5vw;
					}
				}
				#hamburger-menu {
					display: none;
				}
				#nav-mobile-bottom {
					background-color: var(--dark-theme-secondary-card-colour);
					position: absolute;
					padding: 2rem;
					width: 100%;
					height: 12vh;

					.logo-links {
						i {
							margin-right: 1rem;
							margin-bottom: 1rem;
							font-size: 5vw;
						}

						a {
							color: white;
							text-decoration: none;
						}
					}
				}
			}

			#desktop-nav[data-visible="true"] {
				display: block;
				transform: translateX(0%);
				transition: 0.2s ease-out;
			}
		}

		.desktop-hero {
			display: flex;
			flex-direction: column-reverse;
			width: 100%;

			.left-hero-social-links {
				margin: auto;
				margin-top: 2rem;

				img {
					display: none;
				}
				i {
					font-size: 5vw;
					margin-inline: 1rem;
				}
				a {
					text-decoration: none;
					color: white;
				}
			}
			.mobile-hero {
				.right-hero-email {
					display: none;
				}

				.central-hero {
					text-align: center;
					margin: 5rem auto 0 auto;

					#upper-title {
						margin-bottom: 2rem;
					}

					#main-title {
						font-size: 7vw;
						font-weight: bold;
						margin-inline: 2rem;
						margin-bottom: 2rem;
					}

					#lower-subtitle {
						margin-inline: 4rem;
						margin-bottom: 2rem;
					}
				}
			}
		}

		#about {
			img {
				display: none;
			}
		}

		#projects {
			#nft-desktop-1,
			#nft-desktop-2,
			#tenet-desktop-1 {
				display: none;
			}

			img {
				margin: auto;
				width: 100%;
				margin-bottom: 2rem;
			}

			.project-title {
				color: var(--primary-colour);
				font-size: 3.5vw;
				font-weight: bold;
				margin-bottom: 1rem;
			}

			.project-tec {
				display: flex;
				justify-content: space-between;
				margin-bottom: 2rem;

				.tech-name {
					font-size: 3.5vw;
				}

				#html {
					color: #e86029;
				}

				#css {
					color: #379bd5;
				}

				#js {
					color: #e0be27;
				}
			}

			.project-links {
				margin-bottom: 3rem;
				a {
					color: white;
					font-size: 6vw;
					text-decoration: none;
					margin-right: 2rem;
				}
			}
		}

		#testimonials {
			background-color: var(--dark-theme-secondary-card-colour);
			margin: 0;
			padding: 2rem;
			.test-flex-box {
				.test-left {
					.section-title {
						font-size: 4vw;
						font-weight: bold;
						margin-bottom: 1rem;
					}

					.listen-to {
						font-size: 2.6vw;
						margin-bottom: 2rem;
					}
				}

				.test-right {
					background-color: #3f3f50;

					padding: 1rem;

					.card-body {
						font-size: 2.5vw;
						margin-bottom: 1rem;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 601px) and (max-width: 1100px) {
	body {
		background-color: var(--background-dark);
		color: white;
		font-family: poppins;

		section {
			margin: 10rem 5rem;
		}

		button {
			display: flex;
			align-items: center;
			justify-content: space-around;
			background-color: var(--primary-colour);
			border: none;
			outline: none;
			color: white;
			border-radius: 0.3em;
			font-size: 1.5vw;
			cursor: pointer;
			padding: 0.9em 1.8em;
			margin: auto;
			transform: scale(1);
			transition: 0.3s ease;
			font-weight: bold;
		}

		.section-title {
			font-size: 2.5vw;
			margin-bottom: 1.5rem;
		}

		p {
			font-size: 1.5vw;
			margin-block: 1rem;
		}

		header {
			background-color: var(--background-dark);
			height: 5vh;
			position: sticky;
			top: 0;
			padding: 2rem;
			z-index: 999;

			#mobile-cta {
				font-size: 5vw;
				float: right;
			}

			#desktop-nav {
				position: fixed;
				right: 0;
				top: 0;
				width: 100%;

				transform: translateX(110%);
				transition: 0.2s ease;

				height: 100vh;
				#nav-left {
					display: flex;
					justify-content: space-between;
					align-items: center;
					font-size: 8vw;
					background-color: var(--dark-theme-secondary-card-colour);
					padding-inline: 2rem;
					height: 20vh;

					img {
						width: 10%;
					}

					#nav-name {
						display: none;
					}
				}
				#nav-right {
					text-align: center;

					background-color: var(--background-dark);

					ul {
						padding: 0;
						margin: 0;
						a {
							display: block;
							text-decoration: none;
							color: white;
							padding-block: 1.3rem;
						}
					}

					button {
						margin-bottom: 2rem;
					}

					#toggle-dark {
						font-size: 3vw;
					}
				}
				#hamburger-menu {
					display: none;
				}
				#nav-mobile-bottom {
					background-color: var(--dark-theme-secondary-card-colour);
					position: absolute;
					padding: 2rem;
					width: 100%;

					.logo-links {
						i {
							margin-right: 1rem;
							margin-bottom: 1rem;
							font-size: 3vw;
						}

						a {
							color: white;
							text-decoration: none;
						}
					}
				}
			}

			#desktop-nav[data-visible="true"] {
				display: block;
				transform: translateX(0%);
				transition: 0.2s ease-out;
			}
		}

		.desktop-hero {
			display: flex;
			flex-direction: column-reverse;
			width: 100%;

			.left-hero-social-links {
				margin: auto;
				margin-top: 2rem;
				img {
					display: none;
				}

				i {
					font-size: 3vw;
					margin-inline: 1rem;
				}

				a {
					color: white;
					text-decoration: none;
				}
			}
			.mobile-hero {
				.right-hero-email {
					display: none;
				}

				.central-hero {
					text-align: center;
					margin: 6rem auto 0 auto;

					#upper-title {
						margin-bottom: 2rem;
					}

					#main-title {
						font-size: 4.5vw;
						font-weight: bold;
						margin-inline: 3rem;
						margin-bottom: 2rem;
					}

					#lower-subtitle {
						margin-inline: 10rem;
						margin-bottom: 2rem;
					}
				}
			}
		}

		#about {
			display: flex;
			align-items: center;

			.about-left-section {
				margin-right: 2rem;
			}

			button {
				margin: 0;
				margin-top: 1rem;
			}

			img {
				width: 30%;
				height: 30%;
			}
		}

		#projects {
			.screenshot-mobile {
				display: none;
			}
			.project-flex-box {
				display: flex;
				align-items: center;
				margin-block: 0 5rem;

				.left-project {
					background-color: var(--dark-theme-secondary-card-colour);
					padding: 2rem 2rem 0 2rem;
					max-width: 50%;

					img {
						margin: auto;
					}

					#nft-image-1 {
						margin-bottom: 2rem;
						width: 3%;
					}
				}

				.right-project {
					text-align: right;
					margin-left: 1rem;

					.project-title {
						color: var(--primary-colour);
						font-size: 1.5vw;
						font-weight: bold;
						margin-bottom: 1rem;
					}

					#nft-tech {
						justify-items: right;
						margin: 0 0 1rem 1rem;
					}

					.project-tec {
						display: flex;
						justify-content: space-between;
						margin: 0 1rem 1rem 0;

						.tech-name {
							font-size: 1.6vw;
						}

						#html {
							color: #e86029;
						}

						#css {
							color: #379bd5;
						}

						#js {
							color: #e0be27;
						}
					}
					.project-links {
						a {
							color: white;
							text-decoration: none;
						}
					}
					#nft-links {
						a {
							margin: 0 0 0 2rem;
						}
					}

					#tenet-links {
						a {
							margin: 0 2rem 0 0;
						}
					}
				}
			}

			#tenet-flex-box {
				flex-direction: row-reverse;

				#tenet-right {
					text-align: left;
					margin-right: 0.5rem;

					#link-to-website {
						margin: 0 2rem 0 0;
					}
				}
				#tenet-left {
					img {
						margin: auto;
						width: 100%;
					}
				}
			}
		}

		#testimonials {
			background-color: var(--dark-theme-secondary-card-colour);
			margin: 0;
			padding: 5rem 5rem;
			.test-flex-box {
				display: flex;
				align-items: center;

				.test-right {
					background-color: #3f3f50;
					margin-left: 4rem;
					padding: 1rem;
					width: 100%;
					min-width: 150px;

					.card-body {
						font-size: 1.3vw;
						margin-bottom: 1rem;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 1101px) and (max-width: 1440px) {
	body {
		background-color: var(--background-dark);
		color: white;
		font-family: poppins;

		section {
			margin: 20rem 12rem;
		}

		button {
			display: flex;
			align-items: center;
			justify-content: space-around;
			background-color: var(--primary-colour);
			border: none;
			outline: none;
			color: white;
			border-radius: 0.3em;
			font-size: 1vw;
			cursor: pointer;
			padding: 0.8em 1.4em;
			margin: auto;
			transform: scale(1);
			transition: 0.3s ease;
			font-weight: bold;
		}

		button:hover {
			transform: scale(1.02);
			transition: 0.2s ease;
		}

		.section-title {
			font-size: 2vw;
			margin-bottom: 0.8rem;
		}

		p {
			font-size: 1.1vw;
			margin-block: 0.8rem;
		}

		header {
			padding: 2rem;

			#mobile-cta {
				display: none;
			}

			#desktop-nav {
				display: flex;
				align-items: center;
				justify-content: space-between;

				#hamburger-menu {
					display: none;
				}

				#nav-left {
					display: flex;
					align-items: center;
					img {
						width: 25%;
						margin-right: 1rem;
					}

					#nav-name {
						font-size: 1vw;
					}
				}

				#nav-right {
					display: flex;
					align-items: center;
					ul {
						a {
							color: white;
							padding-right: 2rem;
							text-decoration: none;
							font-size: 1rem;
						}

						a:hover {
							text-decoration: overline;
						}

						a.dark {
							color: black;
						}
					}
					#toggle-dark {
						margin-left: 1rem;
						font-size: 2.2vw;
					}
				}
			}
			#mobile-exit,
			#nav-mobile-bottom {
				display: none;
			}
		}

		.desktop-hero {
			display: flex;

			.left-hero-social-links {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				position: fixed;
				bottom: 0;
				width: 5%;

				a {
					margin-bottom: 1rem;
					font-size: 1.4vw;
					color: white;
					text-decoration: none;

					a:hover {
						transform: scale(1.1);
						transition: 1s ease;
					}
				}
			}

			.mobile-hero {
				display: flex;
				.central-hero {
					text-align: center;

					margin-top: 6rem;

					#upper-title {
						margin-bottom: 2rem;
						color: var(--dark-theme-secondary-font-colour);
					}

					#main-title {
						font-size: 3vw;
						font-weight: bold;
						margin-inline: 6em;
					}

					#lower-subtitle {
						margin: 2rem 16rem 4rem 16rem;
						font-size: 1vw;
						color: var(--dark-theme-secondary-font-colour);
					}
				}
				.right-hero-email {
					display: flex;
					flex-direction: column;
					align-items: center;
					text-align: center;
					position: fixed;
					bottom: 0;
					right: 0;
					width: 5%;

					a {
						margin-bottom: 1rem;
						font-size: 1.6vw;
						color: white;
						text-decoration: none;

						a:hover {
							transform: scale(1.01);
							transition: 1s ease;
						}
					}
				}
			}
		}

		#about {
			display: flex;

			.about-left-section {
				margin-right: 2rem;
			}

			button {
				margin: 0;
				margin-top: 1rem;
			}

			img {
				width: 30%;
			}
		}

		#projects {
			.screenshot-mobile {
				display: none;
			}
			.project-flex-box {
				display: flex;
				align-items: center;
				margin-block: 0 5rem;

				.left-project {
					background-color: var(--dark-theme-secondary-card-colour);
					padding: 2rem 2rem 0 2rem;
					max-width: 50%;

					img {
						margin: auto;
					}

					#nft-image-1 {
						margin-bottom: 2rem;
						width: 15%;
					}
				}

				.right-project {
					text-align: right;
					margin-left: 1rem;

					.project-title {
						color: var(--primary-colour);
						font-size: 1.2vw;
						font-weight: bold;
						margin-bottom: 1rem;
					}

					#nft-tech {
						justify-items: right;
						margin: 0 0 1rem 1rem;
					}

					.project-tec {
						display: flex;
						justify-content: space-between;
						margin: 0 1rem 1rem 0;

						.tech-name {
							font-size: 1.2vw;
						}

						#html {
							color: #e86029;
						}

						#css {
							color: #379bd5;
						}

						#js {
							color: #e0be27;
						}
					}
					.project-links {
						a {
							color: white;
							text-decoration: none;
						}
					}
					#nft-links {
						a {
							margin: 0 0 0 2rem;
						}
					}

					#tenet-links {
						a {
							margin: 0 2rem 0 0;
						}
					}
				}
			}

			#tenet-flex-box {
				flex-direction: row-reverse;

				#tenet-right {
					text-align: left;
					margin-right: 0.5rem;

					#link-to-website {
						margin: 0 2rem 0 0;
					}
				}
				#tenet-left {
					img {
						margin: auto;
						width: 100%;
					}
				}
			}
		}

		#testimonials {
			background-color: var(--dark-theme-secondary-card-colour);
			margin: 0;
			padding: 5rem 11rem;
			.test-flex-box {
				display: flex;
				align-items: center;

				.test-left {
					max-width: 50%;
				}

				.test-right {
					background-color: #3f3f50;
					margin-left: 4rem;
					padding: 1rem;
					width: 90%;

					.card-body {
						font-size: 1vw;
						margin-bottom: 1rem;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 1441px) {
	body {
		background-color: var(--background-dark);
		color: white;
		font-family: poppins;

		section {
			margin: 14rem 12rem;
		}

		button {
			display: flex;
			align-items: center;
			justify-content: space-around;
			background-color: var(--primary-colour);
			border: none;
			outline: none;
			color: white;
			border-radius: 0.3em;
			font-size: 1vw;
			cursor: pointer;
			padding: 0.8em 1.4em;
			margin: auto;
			transform: scale(1);
			transition: 0.3s ease;
			font-weight: bold;
		}

		.section-title {
			font-size: 2vw;
			margin-bottom: 0.8rem;
		}

		p {
			font-size: 1.1vw;
			margin-block: 0.8rem;
		}

		header {
			background-color: var(--background-dark);

			padding: 1.5rem;

			#mobile-cta {
				display: none;
			}
			#desktop-nav {
				display: flex;
				justify-content: space-between;

				#hamburger-menu {
					display: none;
				}

				#nav-left {
					display: flex;
					align-items: center;

					img {
						width: 22%;
						margin-right: 1rem;
					}
				}

				#nav-right {
					display: flex;
					align-items: center;
					ul {
						a {
							color: white;
							text-decoration: none;
							padding-right: 2.2rem;
						}
					}
					#toggle-dark {
						margin-left: 1rem;
						font-size: 2.2vw;
					}
				}
			}
			#mobile-exit,
			#nav-mobile-bottom {
				display: none;
			}
		}

		.desktop-hero {
			display: flex;

			.left-hero-social-links {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				position: fixed;
				bottom: 0;
				width: 5%;

				a {
					margin-bottom: 1rem;
					font-size: 1.4vw;
					color: white;
					text-decoration: none;

					a:hover {
						transform: scale(1.01);
						transition: 1s ease;
					}
				}
			}

			.mobile-hero {
				display: flex;
				.central-hero {
					text-align: center;

					margin-top: 6rem;

					#upper-title {
						margin-bottom: 2rem;
						color: var(--dark-theme-secondary-font-colour);
					}

					#main-title {
						font-size: 3vw;
						font-weight: bold;
						margin-inline: 6em;
					}

					#lower-subtitle {
						margin: 2rem 16rem 4rem 16rem;
						font-size: 1vw;
						color: var(--dark-theme-secondary-font-colour);
					}
				}
				.right-hero-email {
					display: flex;
					flex-direction: column;
					align-items: center;
					text-align: center;

					width: 5%;
					position: fixed;
					bottom: 26%;
					right: 4%;

					a {
						width: 55%;
						margin-bottom: 0.5rem;

						transform: rotate(90deg);
						position: relative;
						text-decoration: none;
						color: white;
					}
				}

				#email {
					width: 50%;
				}
			}
		}

		#about {
			display: flex;

			.about-left-section {
				margin-right: 2rem;
			}

			button {
				margin: 0;
			}

			img {
				width: 50%;
			}
		}

		#projects {
			.screenshot-mobile {
				display: none;
			}
			.project-flex-box {
				display: flex;
				align-items: center;
				margin-block: 0 5rem;

				.left-project {
					background-color: var(--dark-theme-secondary-card-colour);
					padding: 2rem 2rem 0 2rem;
					max-width: 50%;

					img {
						margin: auto;
					}

					#nft-image-1 {
						margin-bottom: 2rem;
						width: 15%;
					}
				}

				.right-project {
					text-align: right;
					margin-left: 1rem;

					.project-title {
						color: var(--primary-colour);
						font-size: 1.2vw;
						font-weight: bold;
						margin-bottom: 1rem;
					}

					#nft-tech {
						justify-items: right;
						margin: 0 0 2rem 1rem;
					}

					.project-tec {
						display: flex;
						justify-content: space-between;
						margin: 0 1rem 2rem 0;

						.tech-name {
							font-size: 1.2vw;
						}

						#html {
							color: #e86029;
						}

						#css {
							color: #379bd5;
						}

						#js {
							color: #e0be27;
						}
					}
					.project-links {
						a {
							color: white;
							text-decoration: none;
						}
					}
					#nft-links {
						a {
							margin: 0 0 0 2rem;
						}
					}

					#tenet-links {
						a {
							margin: 0 2rem 0 0;
						}
					}
				}
			}

			#tenet-flex-box {
				flex-direction: row-reverse;

				#tenet-right {
					text-align: left;
					margin-right: 0.5rem;

					#link-to-website {
						margin: 0 2rem 0 0;
					}
				}
				#tenet-left {
					img {
						margin: auto;
						width: 100%;
					}
				}
			}
		}

		#testimonials {
			background-color: var(--dark-theme-secondary-card-colour);
			margin: 0;
			padding: 5rem 11rem;
			.test-flex-box {
				display: flex;
				align-items: center;

				.test-right {
					background-color: #3f3f50;
					margin-left: 4rem;
					padding: 1rem;
					width: 90%;

					.card-body {
						font-size: 1vw;
						margin-bottom: 1rem;
					}
				}
			}
		}
	}
}
