@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600;700&display=swap");
:root {
  --background-dark: #222229;
  --background-white: #f5f5f5;
  --primary-colour: #eda01a;
  --dark-theme-secondary-card-colour: #45455a;
  --light-theme-secondary-card-colour: #5d5d76;
  --dark-theme-primary-font-colour: #ffffff;
  --dark-theme-secondary-font-colour: #c6c6c6;
  --light-theme-primary-font-colour: #000000;
  --light-theme-secondary-font-colour: #4a4a4a;
}

img,
svg {
  max-width: 100%;
  display: block;
}

html {
  scroll-behavior: smooth;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 2rem;
    background-color: var(--background-dark);
    color: white;
  }
  body header nav {
    display: flex;
    place-content: space-between;
    align-items: center;
    font-size: 6vw;
  }
  body header nav .nav-left {
    display: flex;
    align-items: center;
    font-size: 3vw;
  }
  body header nav .nav-left img {
    width: 20%;
    margin-right: 1rem;
  }
  body header nav .nav-right {
    display: none;
  }
}
@media only screen and (min-width: 601px) and (max-width: 999px) {
  body {
    margin: 4rem;
    background-color: var(--background-dark);
    color: white;
    font-family: poppins;
  }
  body button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-colour);
    border: none;
    outline: none;
    color: white;
    border-radius: 0.3em;
    font-size: 1.8vw;
    cursor: pointer;
    padding: 0.9em 1.8em;
    margin: auto;
    transform: scale(1);
    transition: 0.3s ease;
    font-weight: bold;
  }
  body header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body header nav .nav-left img {
    width: 40%;
  }
  body header nav .nav-left #nav-name {
    display: none;
  }
  body header nav .nav-right {
    display: none;
  }
  body header nav #hamburger-menu {
    font-size: 6vw;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1440px) {
  body {
    margin: 4rem;
    background-color: var(--background-dark);
    color: white;
    font-family: poppins;
  }
  body button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-colour);
    border: none;
    outline: none;
    color: white;
    border-radius: 0.3em;
    font-size: 1vw;
    cursor: pointer;
    padding: 0.6em 1.2em;
    margin: auto;
    transform: scale(1);
    transition: 0.3s ease;
    font-weight: bold;
  }
  body header nav {
    display: flex;
    justify-content: space-between;
  }
  body header nav #hamburger-menu {
    display: none;
  }
  body header nav .nav-left {
    display: flex;
    align-items: center;
  }
  body header nav .nav-left img {
    width: 25%;
    margin-right: 1rem;
  }
  body header nav .nav-right {
    display: flex;
    align-items: center;
  }
  body header nav .nav-right ul a {
    color: white;
    text-decoration: none;
    padding-right: 2.2rem;
  }
  body header nav .nav-right #toggle-dark {
    margin-left: 1rem;
    font-size: 2.2vw;
  }
}
@media only screen and (min-width: 1441px) {
  body {
    margin: 4rem;
    background-color: var(--background-dark);
    color: white;
    font-family: poppins;
  }
  body button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-colour);
    border: none;
    outline: none;
    color: white;
    border-radius: 0.3em;
    font-size: 0.8vw;
    cursor: pointer;
    padding: 0.8em 1.4em;
    margin: auto;
    transform: scale(1);
    transition: 0.3s ease;
    font-weight: bold;
  }
  body header nav {
    display: flex;
    justify-content: space-between;
  }
  body header nav #hamburger-menu {
    display: none;
  }
  body header nav .nav-left {
    display: flex;
    align-items: center;
  }
  body header nav .nav-left img {
    width: 25%;
    margin-right: 1rem;
  }
  body header nav .nav-right {
    display: flex;
    align-items: center;
  }
  body header nav .nav-right ul a {
    color: white;
    text-decoration: none;
    padding-right: 2.6rem;
  }
  body header nav .nav-right #toggle-dark {
    margin-left: 1rem;
    font-size: 2.3vw;
  }
}/*# sourceMappingURL=style.css.map */